body {
  margin: 0;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}

body,
html {
  scroll-behavior: smooth;
}

.fullstackdev {
  font-weight: bold;
  font-size: 40px;
  color: rgb(183, 81, 153);
  letter-spacing: 2px;
  overflow: hidden;
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  animation: typing 4s steps(30), cursor 3s infinite;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

/* normal */
@media (min-width: 768px) {
  .fullstackdev {
    font-size: 40px;
  }
}

/* reponsive */
@media (max-width: 768px) {
  .fullstackdev {
    font-size: 20px;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
